 - create Webpack template (imports/exports)
    Babel
    Scss
    Eslint
    Modes
        Dev
            - Dev server
            - SourceMaps
            - Eslint
            - Not minified js & css
        Prod
            - Minified code
    
 - implement Git flow process