.excel__formula {
  position: relative;
  @include topBlock($top_block_height * 2);

  .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $info-ceil-width;
    margin: auto;
    padding-right: 3px;
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
    color: #757575;
    background-color: #f7f7f7;
    border-right: 1px solid $border_color;
    pointer-events: none;
    transition: color 75ms ease, background-color 75ms ease;
  }

  .input {
    @include input($withHover: false);
    width: 100%;
    padding-left: $info-ceil-width;
    caret-color: #757575;
    pointer-events: auto;

    &:focus ~ .info {
      color: #000;
      background-color: #eaeaea;
    }
  }
}
