.excel__header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  padding: 4px;
  border-bottom: 1px solid #ccc;
  transition: 100ms ease border-color;

  .input {
    padding: 2px 7px;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    border: 1px solid transparent;
    border-radius: 2px;

    &:hover {
      border-color: #e5e5e5;
    }

    &:focus {
      border: 2px solid #1a73e8;
      margin: -1px;
      border-radius: 4px;
    }
  }

  .btn-block {
    display: flex;

    .btn {
      @include button(red);

      &:not(:first-child) {
        margin-left: 8px;
      }
    }
  }
}
