.excel__header {
  @include topBlock;
  justify-content: space-between;

  .input {
    @include input;
  }

  .btn-block {
    display: flex;

    .btn {
      @include button(red);

      &:not(:first-child) {
        margin-left: 8px;
      }
    }
  }
}
