@mixin topBlock($topOffset: 0, $height: $top_block_height) {
  position: absolute;
  top: $topOffset;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: $height;
  padding: 4px;
  border-bottom: 1px solid $border_color;
}

@mixin button($color: green) {
  display: flex;
  position: relative;
  min-height: 26px;
  min-width: 26px;
  padding: 3px;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  background-color: transparent;
  transition: 100ms ease background-color;
  border-radius: 2px;

  &:active,
  &.active {
    color: $color;
    background-color: rgba($color, 0.125);
  }

  &:hover {
    background-color: #eee;
    cursor: pointer;
  }

  & > .material-icons {
    font-size: 20px;
  }
}

@mixin input($withHover: true) {
  padding: 2px 7px;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  border: 1px solid transparent;
  border-radius: 2px;

  @if $withHover {
    transition: 100ms ease border-color;

    &:hover {
      border-color: $border-color-light;
    }

    &:focus {
      border: 2px solid $border-color-active;
      margin: -1px;
      border-radius: 4px;
    }
  }
}
