* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Open Sans, Helvetica Neue, sans-serif;
}

input,
button {
  border: none;
  background-color: transparent;
  appearance: none;
  outline: none;
}

.excel {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
